<div class="sidebar-container">
    <app-tool-icon-group></app-tool-icon-group>
    <div class="bottom-tools-container">
        <div class="undo-redo-container">
            <app-undo-redo></app-undo-redo>
        </div>
        <div class="action-container">
            <app-new-drawing></app-new-drawing>
            <app-carousel-icon></app-carousel-icon>
            <app-save-drawing></app-save-drawing>
            <app-export-drawing></app-export-drawing>
        </div>
        <div class="manual-home-container">
            <app-home-icon></app-home-icon>
            <app-user-manual-icon></app-user-manual-icon>
        </div>
    </div>
</div>
