.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 45px;
}

.previsualisation-container {
    width: 200px;
    height: 200px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    .previsualisation {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(15, 6.66%);
        grid-template-rows: repeat(15, 6.66%);
        clip-path: circle(50% at 50% 50%);
        position: relative;

        span {
            width: 100%;
            height: 100%;
            border: 0.5px solid rgba(#b5bdcc, 0.5);
        }

        .middle-pixel {
            width: 6.66%;
            height: 6.66%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: invert(1);
            display: none;
        }
    }
}
