<div class="title">{{ title }}</div>
<div class="attribute-controls-container">
    <div class="slider-control">
        <div class="control-title">Côtés</div>
        <mat-slider
            id="numberOfSidesSlider"
            class="numberOfSides-slider"
            thumbLabel
            (input)="numberOfSidesChanged($event)"
            [value]="numberOfSides"
            tickInterval="1"
            min="{{ minSides }}"
            max="{{ maxSides }}"
        ></mat-slider>
        <span class="control-value">{{ numberOfSides }}cts</span>
    </div>
</div>

<div class="attribute-controls-container">
    <mat-expansion-panel hideToggle [expanded]="isWithBorder" class="border-width-panel">
        <mat-expansion-panel-header class="toggle-control">
            <p class="toggle-title">Contour</p>
            <mat-slide-toggle id="borderToggle" class="width-slider toggle-btn" [checked]="isWithBorder" (change)="withBorderToggled($event)">
            </mat-slide-toggle>
        </mat-expansion-panel-header>

        <div class="slider-control">
            <div class="control-title">Taille</div>
            <mat-slider
                id="widthSlider"
                class="width-slider"
                thumbLabel
                (input)="widthChanged($event)"
                [value]="width"
                tickInterval="1"
                min="{{ minWidth }}"
                max="{{ maxWidth }}"
            ></mat-slider>
            <span class="control-value">{{ width }}px</span>
        </div>
    </mat-expansion-panel>
</div>
